<ion-content>
  <header class="header">
    <app-menu></app-menu>
    <h2>Listas</h2>
  </header>
  <section class="content">
    <ion-list>
      <ion-item *ngFor="let list of listManagementService.lists$ | async">
        <ion-label (click)="navList(list)">{{list.title}}</ion-label>
        <ion-button class="item__button" (click)="navUpdateList(list)">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button class="item__button item__button--trash" (click)="removeList(list)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </section>
</ion-content>